body {
    background-color: rgb(255, 230, 221);
    
}

h2 {
    font-size: 100px;
    font-family: sans-serif
    
}


.floating-box {
    /*strip of colour - full width*/
    float: left;
    width: 100%;
    height: 200px;
    position: absolute;
    top: 535px;
 
    background-color: rgb(186, 161, 167)    
  }

  
  
  ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
   
    position: fixed;
    top: 0;
    width: 100%;

  }


  li {
    float: left; 
    list-style-type: none;
    margin: 0;
    padding: 0;
    font-family: sans-serif; 
  }
  
  li a {
    display: block;
    color: black;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }


  a {
    display: block;
    padding: 8px;
  
  }
  
  .active {
      background-color: #e1bac9;
  }