

body {
    background-color:rgb(255, 230, 221);
    
}
.floating-box {
    /*strip of colour - full width*/
    float: left;
    width: 100%;
    height: 280px;
    position: absolute;
    top: 535px;
    z-index: 2;
    background-color: rgb(186, 161, 167, 0.8) 
     
  }
  

h1 {
font-family: verdana;
color: rgb(107, 118, 123);
font-size: 40px;
display: flex;
justify-content: center;
}

h2 {
    font-family: sans-serif;
    display: flex;
    justify-content: center;

}
.imagePenny {
    width: 250px;
    position: relative;
    z-index: 4;
    left: 440px;

}

.image1 {
    /*photo of Lucy*/
    display: block;
    position: relative;
    z-index: 7;
    margin-left: auto;
    margin-right: auto;
    width: 400px;  
}
.imageEric {
    width: 250px;
    position: relative;
    z-index: 5;
    left: 480px;   
}


ul {
    /*bullet point list*/
    font-family: sans-serif;
    margin-left: 25%;
    position: relative;
    bottom: 17px;
    z-index: 3;
    text-align: justify;
    font-size: 17px;
    line-height: 30px;
    padding: 20px;

}

.Insta {
    /*button*/
    background-color: rgb(186, 161, 167);
    margin-left: 25%;
    padding: 5px;
    border-radius: 12px;
    position: relative;
    bottom: 505px;
    left: 500px;
}

p {
font-family: sans-serif;
margin-left: 28%;
text-align: justify;
font-size: 17px;
line-height: 30px;

}


.polaroid {
    /*design on photos*/
    background: #fff;
    padding: 0.8rem;
    box-shadow: 0 0.2rem 1.2rem rgba(0,0,0,0.2);
}
  
ul {
    list-style: circle inside none;
}
