

body {
    background-color:rgb(255, 230, 221);
}

h1 {
font-family: sans-serif;
color: rgb(107, 118, 123);
font-size: 40px;
display: flex;
justify-content: center;
}

h2 {
    font-family: sans-serif;
    display: flex;
    justify-content: center;

}


.image1 {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 400px;  
}

img { 
    display: inline-block;
    width: 250px;
    
}



ul {
    font-family: sans-serif;
    margin-left: 25%;
    text-align: justify;
    font-size: 17px;
    line-height: 30px;

}


button {
    background-color: rgb(186, 161, 167);
    margin-left: 25%;
    padding: 5px;
    border-radius: 12px;
    position: relative;
    bottom: 505px;
    left: 500px;
}

p {
font-family: sans-serif;
margin-left: 25%;
text-align: justify;
font-size: 17px;
line-height: 30px;
}






